.Page-Header {
  .logo {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
    display: inline-block;
    line-height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
    transition: transform .3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
